# Ignore everything at first
*
**/*

## Add only what we need
!supervisor/conf
!scripts/update_mirrors.sh
!kernels/base/environment.yml
!kernels/base/requirements.txt
!kernels/python311/environment.yml
!jupyter-codeserver-proxy
