# Copyright © ${years} ${owner}.
#
# Licensed under the Apache License, Version 2.0 (the "License"). You
# may not use this file except in compliance with the License. A copy of
# the License is located at:
#
# ${projecturl}/blob/main/LICENSE
#
# or in the "license" file accompanying this file. This file is
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
# ANY KIND, either express or implied. See the License for the specific
# language governing permissions and limitations under the License.
#
# This file is part of the ${projectname} project.
# see (${projecturl})
#
# SPDX-License-Identifier: Apache-2.0
#
# You should have received a copy of the APACHE LICENSE, VERSION 2.0
# along with this program. If not, see <https://apache.org/licenses/LICENSE-2.0>
